[Unit]
Description=Music Info Notifier (Flatpak)
After=graphical-session.target

[Service]
ExecStart=/usr/bin/flatpak run com.github.rrebeiz.music_info
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target